<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <script>
      Dropzone.options.dropTxt = {
        init: function() {
          this.on("success", (file) => {
             console.log("success");
          });
          this.on("addedfile", (file) => {
             console.log("added");
          });
          this.on("complete", (file) => {
            console.log("completed!");
          });
        },
        dictDefaultMessage: "Drop your text file here"
      };
    </script>
  </head>
  <body>
    <form action="/file-upload"
          class="dropzone"
          encType="multipart/form-data"
          method='post'
          id="dropTxt">
          <input type="submit" value="Count!"/>
     </form>
   </body>
</html>
