<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <title>Word Counter</title>
  <link rel="stylesheet" href="/style.css"/>

</head>
<body>
  <h1>Word Counter</h1>
</body>
</html>
