body {
  background-color: #2d2f82;
}

h1 {
  text-align: center;
  font-family: "Open Sans";
  margin: auto;
  color: white;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
